/* ----------------------------- add some resets ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

/* --------------------------- fonts and variables -------------------------- */

:root {
  /* primary colors */
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  /* neutral colors */
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);

  --bar-hover: hsl(10, 100%, 76%);

  /* fonts */
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: var(--cream);
  padding: 67px 16px;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--soft-red);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.header img {
  width: 60px;
}

.balance-heading {
  font-size: 15px;
  margin-bottom: 4px;
}

.balance-total {
  font-weight: 700;
  font-size: 24px;
}

.graph-wrapper {
  background-color: var(--very-pale-orange);
  padding: 24px 20px;
  border-radius: 10px;
}

.spending-graph {
  border-bottom: 2px solid var(--cream);
  padding-bottom: 24px;
}

.graph-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 52px;
}

.bar-graph {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 12px;
  align-items: end;
}

.tooltip {
  display: none;
}

.spend-bar {
  background-color: var(--soft-red);
  border-radius: 5px;
}

.spend-bar.today {
  background-color: var(--cyan);
}

.bar-axis {
  font-size: 12px;
  color: var(--medium-brown);
  text-align: center;
  padding-top: 11px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 24px;
  font-size: 15px;
}

.summary-total {
  font-weight: 700;
  font-size: 30px;
}

.summary-right {
  text-align: right;
}

.summary-right .summary-increase {
  font-weight: 700;
}

.summary-heading {
  font-size: 15px;
  font-weight: 400;
  color: var(--medium-brown);
}
/* -------------------------- style the artibution -------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  body {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
  }

  main {
    width: 540px;
  }

  .header {
    padding: 26px 40px 26px 32px;
  }

  .graph-wrapper {
    padding: 32px 40px;
  }

  .graph-heading {
    margin-bottom: 66px;
  }

  .bar-wrapper {
    position: relative;
  }

  .tooltip {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    opacity: 0;
    scale: 0;

    color: white;
    font-size: 18px;
    padding: 8px;
    font-weight: 700;
    background-color: black;
    border-radius: 5px;
    transform-origin: left;
    transition: opacity 300ms ease-in-out, scale 300ms ease-in-out;
  }

  .bar-wrapper:hover .tooltip {
    opacity: 1;
    scale: 1;
  }

  .bar-graph {
    column-gap: 18px;
  }

  .spend-bar:hover {
    cursor: pointer;
  }

  .spend-bar:not(.today):hover {
    background-color: var(--bar-hover);
  }

  .bar-axis {
    font-size: 15px;
  }

  .summary-heading,
  .summary-increase {
    font-size: 18px;
  }

  .summary-total {
    font-size: 48px;
  }

  footer {
    position: absolute;
    bottom: 8px;
  }
}
